<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>0</TotalTime><Pages>2</Pages><Words>373</Words><Characters>2131</Characters><Application>Microsoft Macintosh Word</Application><DocSecurity>0</DocSecurity><Lines>17</Lines><Paragraphs>4</Paragraphs><ScaleCrop>false</ScaleCrop><Company>srishti software </Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>2500</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>